name: Robot Framework E2E -tests

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  robot-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install robotframework
          pip install robotframework-browser

      - name: Initialize Browser (Chromium)
        run: |
          rfbrowser init chromium

      - name: Run Robot Framework tests
        env:
          URL: ${{ secrets.APP_URL }}
          USERNAME: ${{ secrets.TESTUSER_NAME }}
          PASSWORD: ${{ secrets.TESTUSER_PASSWORD }}
        run: |
          robot robotframework-tests/tests
      
      - name: Upload Robot Framework results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: robot-results
          path: |
            output.xml
            log.html
            report.html